<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="vovk.Properties.Settings.VovkDbConnectionString" connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\VovkDb.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="vovk.Properties.Settings.VovkConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=C:\USERS\СИВООК\VOVKDB.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VovkDbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=VOVK;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=Vdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="UniversitySQLEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\Users\Сивоок\Desktop\Vovk\Databases\UniversitySQL.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="UniversitySQLEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\UniversitySQL.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="UniversitySQLEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\UniversitySQL.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="univEntities" connectionString="metadata=res://*/university.csdl|res://*/university.ssdl|res://*/university.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\univ.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="univEntities1" connectionString="metadata=res://*/univ.csdl|res://*/univ.ssdl|res://*/univ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\Users\Сивоок\Dropbox\vovk\univ.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="vovk.Properties.Settings.Database1ConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\orodr_000\Dropbox\vovk\Database1.accdb"
      providerName="System.Data.OleDb" />
    <add name="UniversityDb.Properties.Settings.VovkDbConnectionString"
      connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\VovkDb.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UniversityDb.Properties.Settings.VovkConnectionString"
      connectionString="Data Source=(localdb)\v11.0;Initial Catalog=C:\USERS\СИВООК\VOVKDB.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UniversityDb.Properties.Settings.Database1ConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\orodr_000\Dropbox\UniversityDb\Database1.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.windows.forms jitDebugging="true" />
</configuration>